<title>Events</title>
<center><table width=260>
<tr>
<td><button value="Main" action="bypass -h admin_admin" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Events" action="bypass -h admin_server events.htm" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Chars" action="bypass -h admin_char_manage" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="Server" action="bypass -h admin_server admserver.htm" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td><button value="GM Shop" action="bypass -h admin_gmshop" width=50 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
</tr></table></center>

Pages: <a action="bypass -h admin_server events.htm">1</a> 2<br>
<table width=285><tr>
<td width=150>Choose Your Destiny</td>
<td width=45><button value="Start" action="bypass -h scripts_events.ChooseYourDestiny.ChooseYourDestiny:startEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45><button value="Stop" action="bypass -h scripts_events.ChooseYourDestiny.ChooseYourDestiny:stopEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45></td>
</tr><tr>
<td width=150>DwarfAndToster</td>
<td width=45><button value="Start" action="bypass -h scripts_events.DwarfAndToster.DwarfAndToster:startEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45><button value="Stop" action="bypass -h scripts_events.DwarfAndToster.DwarfAndToster:stopEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45></td>
</tr><tr>
<td width=150>Saving Santa</td>
<td width=45><button value="Start" action="bypass -h scripts_events.SavingSanta.SavingSanta:startEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45><button value="Stop" action="bypass -h scripts_events.SavingSanta.SavingSanta:stopEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45></td>
</tr><tr>
<td width=150>Master of Enchanting</td>
<td width=45><button value="Start" action="bypass -h scripts_events.MasterOfEnchanting.MasterOfEnchanting:startEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45><button value="Stop" action="bypass -h scripts_events.MasterOfEnchanting.MasterOfEnchanting:stopEvent" width=40 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45></td>
</tr><tr>
<td width=150></td>
<td width=45><button value="Spawn" action="bypass -h scripts_events.MasterOfEnchanting.MasterOfEnchanting:spawnYogi" width=60 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45><button value="Despawn" action="bypass -h scripts_events.MasterOfEnchanting.MasterOfEnchanting:despawnYogi" width=60 height=20 back="L2UI_ct1.button_df" fore="L2UI_ct1.button_df"></td>
<td width=45></td>
</tr>
<tr>
<td width=140>Infected Monsters</td>
<td width=45><button value="Start" action="bypass -h scripts_events.TheInfectedMonsters.InfectedMonsters:activateEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td width=45><button value="Stop" action="bypass -h scripts_events.TheInfectedMonsters.InfectedMonsters:deactivateEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td width=45></td>
</tr>
<tr>
<td width=140>Lovers' Jubilee</td>
<td width=45><button value="Start" action="bypass -h scripts_events.LoversJubilee.LoversJubilee:startEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td width=45><button value="Stop" action="bypass -h scripts_events.LoversJubilee.LoversJubilee:stopEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td width=45></td>
</tr>
<tr>
<td width=140>Test Server</td>
<td width=45><button value="Start" action="bypass -h scripts_events.TestServer.TestServer:startEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td width=45><button value="Stop" action="bypass -h scripts_events.TestServer.TestServer:stopEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
<td width=45></td>
</tr>
    <tr>
    <td width=140>Christmas Gift</td>
    <td width=45><button value="Start" action="bypass -h scripts_events.XmasGift.XmasGift:startEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    <td width=45><button value="Stop" action="bypass -h scripts_events.XmasGift.XmasGift:stopEvent" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    <td width=45></td>
    </tr>
    <tr>
    <td width=140>Capture</td>
    <td width=45><button value="Start" action="bypass -h scripts_events.Capture.Capture:start" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    <td width=45><button value="Stop" action="bypass -h scripts_events.Capture.Capture:stop" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    <td width=45></td>
    </tr>
    <tr>
        <td width=140>Hero Trophy</td>
        <td width=45><button value="Start" action="bypass -h scripts_events.HeroTrophy.HeroTrophy:start" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td width=45><button value="Stop" action="bypass -h scripts_events.HeroTrophy.HeroTrophy:stop" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td width=45></td>
    </tr>
    <tr>
        <td width=140>Truly Free</td>
        <td width=45><button value="Start" action="bypass -h scripts_events.TrulyFree.TrulyFree:start" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td width=45><button value="Stop" action="bypass -h scripts_events.TrulyFree.TrulyFree:stop" width=40 height=20 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td width=45></td>
    </tr>
</table>
